.sidebar
  .sidebar-content-placeholder
  %h2 New posts
  %ul
    - @sidebar.new_posts.to_a.each do |post|
      %li.new-post
        = link_to post[:title], post_path(post[:id])
        %div "created #{time_ago_in_words(post[:created_at])} ago"
