<div class='sidebar'>
  <div class='sidebar-content-placeholder'></div>
  <h2>New posts</h2>
  <ul>
    <% @new_posts.to_a.each do |post| -%>
      <li class='new-post'>
        <%= link_to post.title, post  %>
        <div>created <%= time_ago_in_words(post.created_at) %> ago</div>
      </li>
    <% end %>
  </ul>
</div>
