<div class='sidebar'>
  <div class='sidebar-content-placeholder'></div>
  <h2>Popular posts</h2>
  <ul>
    <li><a href='#'>Losdfc</a></li>
    <li><a href='#'>Masetg</a></li>
    <li><a href='#'>Fasntr</a></li>
  </ul>
</div>
