<div class='sidebar'>
  <div class='sidebar-content-placeholder'></div>
  <h2>Posts by years</h2>
  <ul>
    <li><a href='#'>2012</a></li>
    <li><a href='#'>2013</a></li>
      <ul>
        <li><a href='#'>January</a></li>
        <li><a href='#'>February</a></li>
        <li><a href='#'>March</a></li>
      </ul>
    <li><a href='#'>2014</a></li>
    <li><a href='#'>2015</a></li>
    <li><a href='#'>2016</a></li>
  </ul>
</div>
