body {
  background-color: $light-black;
  font-family: 'Dosis';
  overflow-x: hidden;
}

.log-in-out-menu {
  font-size: 20px;
  left: 0;
  position: fixed;
  top: 100px;
  z-index: 6;

  a {
    background-color: darken($white, 10%);
    border: {
      color: $title-background;
      style: solid;
      width: 4px 12px 4px 4px;
    }
    box-sizing: border-box;
    color: $title-background;
    display: block;
    font-weight: bold;
    left: -110px;
    overflow: hidden;
    padding: 5px;
    position: absolute;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    top: 0;
    transition: left .3s, border-width .3s;
    white-space: nowrap;
    width: 120px;

    i {
      width: 30px;
    }

    &:hover {
      border-width: 4px;
      left: -8px;
      transition: left .3s, border-width .3s;
    }
  }
}

.flash {
  font-weight: bold;
  margin: 20px auto;
  width: 80%;

  i {
    margin-right: 10px;
  }

  .alert-alert {
    background-color: lighten($title-background, 30%);
    border: 2px solid $title-background;
    color: $title-background;
    padding: 10px;
  }

  .alert-notice {
    background-color: lighten($notice-background, 30%);
    border: 2px solid $notice-background;
    color: $notice-background;
    padding: 10px;
  }

}
