@mixin logo-letter($font-size, $top, $left, $z-index) {
  font-size: $font-size;
  left: $left;
  top: $top;
  z-index: $z-index;
}

@mixin paint-button($color) {
  background-color: $color;

  &:hover {
    background-color: darken($color, 10%);
  }
}
