$black:               #000;
$light-black:         #222;
$white:               #fff;
$main-color:          #dd8843;
$title-background:    #e44242;
$author-color:        #bbb;
$notice-background:   #609a63;
$warning-color:       #e6da8b;
$danger-color:        #f19b9b;

$comments-count-background-color:                     #e44242;
$comment-border-color:                                #ccc;
$comment-created-at-color:                            #808080;
$delete-button-color:                                 #e44242;
