.comments-count {
  background-color: $comments-count-background-color;
  box-shadow: 0 0 10px 0 $light-black;
  color: $white;
  display: inline-block;
  float: right;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 10px;
  text-transform: uppercase;
}

.comments {

}

.comment {
  border-bottom: 1px dotted $comment-border-color;

  .comment-header {
    width: 100%;

    .comment-author {
      display: inline-block;
      font-size: .8em;
      font-weight: bold;
      margin-right: 10px;
      text-transform: uppercase;
    }

    .comment-created-at {
      color: $comment-created-at-color;
      display: inline-block;
      font-size: .8em;
      font-style: italic;
      letter-spacing: 1px;
      text-align: right;
    }
  }

  .comment-content {
    margin-left: 15px;
    padding: 5px;
  }
}

.add-comment {
  margin-bottom: 80px;
  text-align: right;

  .new-author {
    font-weight: bold;
    margin-bottom: 5px;

    input {
      width: 50%;
    }
  }

  .button {
    cursor: pointer;
    font-size: .8em;
    margin: 0;
    width: 120px;
  }
}
