footer {
  background-color: $black;
  color: $white;
  display: block;
  font-family: 'Orbitron';
  height: 160px;
}

.footer-content {
  margin: 0 auto;
  width: 85%;
}

.footer-menus {
  display: flex;
  font-style: italic;
  justify-content: space-around;
  letter-spacing: 2px;
  line-height: 25px;

  h2 {
    color: $main-color;
    margin-bottom: 0;
  }

  li {
    color: $main-color;
    list-style: square;
  }

  a {
    color: $white;
    text-decoration: none;

    &:hover {
      color: lighten($title-background, 20%);
    }
  }
}

.author {
  color: $author-color;
  font-size: 10px;
  font-style: italic;
  font-weight: 900;
  margin-bottom: 10px;
  text-align: right;
}
