.post {
  border-bottom: 1px solid $light-black;
  margin: 20px 0;
  padding-bottom: 30px;
}

.post-date {
  background-color: $light-black;
  box-shadow: 0 0 10px 0 $light-black;
  color: $white;
  display: flex;
  flex-direction: column;
  float: left;
  height: 110px;
  justify-content: center;
  margin: 20px;
  padding: 5px;
  text-align: center;
  width: 110px;

  .post-date-day {
    font-size: 60px;
    font-weight: bold;
    line-height: 42px;
  }

  .post-date-month {
    font-size: 25px;
    font-weight: bold;
  }

  .post-date-year {
    font-size: 16px;
    line-height: 10px;
  }

  p {
    margin: 0;
  }
}

.post-content {
  clear: both;
  font-size: 18px;
  margin: 20px 0;
  text-align: justify;
}

.post-title {
  color: $main-color;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 1px;
  padding-top: 20px;
  text-transform: uppercase;
}

.read-more {
  color: $main-color;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: darken($main-color, 30%);
  }
}
