
.sidebar {
  font-family: 'Dosis';
  margin: 50px;
  padding: 5px 30px;
  position: relative;


  h2 {
    color: darken($main-color, 10%);
    font-size: 20px;
    font-style: italic;
    font-weight: 900;
    letter-spacing: 1px;
    margin-top: 0;
    text-transform: uppercase;
  }

  ul {
    list-style: none;
    padding-left: 20px;
  }

  a {
    color: $main-color;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;

    &:hover {
      color: darken($main-color, 30%);
    }
  }
}

.sidebar-content-placeholder {
  background-image: url('border-sidebar.svg');
  background-repeat: repeat-y;
  box-shadow: -8px 0 0 0 $main-color;
  box-sizing: border-box;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 10px;
}

.year {
  a {
    padding: 0 3px;
  }

  span {
    color: $black;
    font-weight: bold;
  }
}

.new-post {
  font-size: 14px;

  div {
    font-size: 12px;
    font-style: italic;
  }
}
