<div class='post'>
  <div class='post-date'>
    <p class='post-date-day'>21</p>
    <p class='post-date-month'>JAN</p>
    <p class='post-date-year'>2016</p>
  </div>
  <div class='post-title'>
    Ut magna nulla, fermentum
  </div>
  <div class='post-content'>
    <p>
      Phasellus vel urna pretium, bibendum purus sit amet,
      lacinia sem. Nulla facilisi. Nullam sapien nisl,
      hendrerit ut lacinia sit amet, hendrerit non nibh.
      Aenean tempor in lectus aliquam placerat. Donec placerat
      vestibulum ex, sed condimentum sapien placerat vel.
      Nullam at lorem in diam maximus ultrices. Integer
      consequat, nisi vel sodales auctor, nisi felis euismod
      augue, sed semper ante nulla id quam. Suspendisse potenti.
    </p>
    <p>
      Phasellus vel urna pretium, bibendum purus sit amet,
      lacinia sem. Nulla facilisi. Nullam sapien nisl,
      hendrerit ut lacinia sit amet, hendrerit non nibh.
      Aenean tempor in lectus aliquam placerat. Donec placerat
      vestibulum ex, sed condimentum sapien placerat vel.
      Nullam at lorem in diam maximus ultrices. Integer
      consequat, nisi vel sodales auctor, nisi felis euismod
      augue, sed semper ante nulla id quam. Suspendisse potenti.
    </p>
    <p>
      Phasellus vel urna pretium, bibendum purus sit amet,
      lacinia sem. Nulla facilisi. Nullam sapien nisl,
      hendrerit ut lacinia sit amet, hendrerit non nibh.
      Aenean tempor in lectus aliquam placerat. Donec placerat
      vestibulum ex, sed condimentum sapien placerat vel.
      Nullam at lorem in diam maximus ultrices. Integer
      consequat, nisi vel sodales auctor, nisi felis euismod
      augue, sed semper ante nulla id quam. Suspendisse potenti.
    </p>
  </div>
  <a class='read-more' href='#'>Read more..</a>
</div>


<div class='post'>
  <div class='post-date'>
    <p class='post-date-day'>21</p>
    <p class='post-date-month'>JAN</p>
    <p class='post-date-year'>2016</p>
  </div>
  <div class='post-title'>
    Ut magna nulla, fermentum
  </div>
  <div class='post-content'>
    <p>
      Phasellus vel urna pretium, bibendum purus sit amet,
      lacinia sem. Nulla facilisi. Nullam sapien nisl,
      hendrerit ut lacinia sit amet, hendrerit non nibh.
      Aenean tempor in lectus aliquam placerat. Donec placerat
      vestibulum ex, sed condimentum sapien placerat vel.
      Nullam at lorem in diam maximus ultrices. Integer
      consequat, nisi vel sodales auctor, nisi felis euismod
      augue, sed semper ante nulla id quam. Suspendisse potenti.
    </p>
    <p>
      Phasellus vel urna pretium, bibendum purus sit amet,
      lacinia sem. Nulla facilisi. Nullam sapien nisl,
      hendrerit ut lacinia sit amet, hendrerit non nibh.
      Aenean tempor in lectus aliquam placerat. Donec placerat
      vestibulum ex, sed condimentum sapien placerat vel.
      Nullam at lorem in diam maximus ultrices. Integer
      consequat, nisi vel sodales auctor, nisi felis euismod
      augue, sed semper ante nulla id quam. Suspendisse potenti.
    </p>
    <p>
      Phasellus vel urna pretium, bibendum purus sit amet,
      lacinia sem. Nulla facilisi. Nullam sapien nisl,
      hendrerit ut lacinia sit amet, hendrerit non nibh.
      Aenean tempor in lectus aliquam placerat. Donec placerat
      vestibulum ex, sed condimentum sapien placerat vel.
      Nullam at lorem in diam maximus ultrices. Integer
      consequat, nisi vel sodales auctor, nisi felis euismod
      augue, sed semper ante nulla id quam. Suspendisse potenti.
    </p>
  </div>
  <a class='read-more' href='#'>Read more..</a>
</div>


<div class='post'>
  <div class='post-date'>
    <p class='post-date-day'>21</p>
    <p class='post-date-month'>JAN</p>
    <p class='post-date-year'>2016</p>
  </div>
  <div class='post-title'>
    Ut magna nulla, fermentum
  </div>
  <div class='post-content'>
    <p>
      Phasellus vel urna pretium, bibendum purus sit amet,
      lacinia sem. Nulla facilisi. Nullam sapien nisl,
      hendrerit ut lacinia sit amet, hendrerit non nibh.
      Aenean tempor in lectus aliquam placerat. Donec placerat
      vestibulum ex, sed condimentum sapien placerat vel.
      Nullam at lorem in diam maximus ultrices. Integer
      consequat, nisi vel sodales auctor, nisi felis euismod
      augue, sed semper ante nulla id quam. Suspendisse potenti.
    </p>
    <p>
      Phasellus vel urna pretium, bibendum purus sit amet,
      lacinia sem. Nulla facilisi. Nullam sapien nisl,
      hendrerit ut lacinia sit amet, hendrerit non nibh.
      Aenean tempor in lectus aliquam placerat. Donec placerat
      vestibulum ex, sed condimentum sapien placerat vel.
      Nullam at lorem in diam maximus ultrices. Integer
      consequat, nisi vel sodales auctor, nisi felis euismod
      augue, sed semper ante nulla id quam. Suspendisse potenti.
    </p>
    <p>
      Phasellus vel urna pretium, bibendum purus sit amet,
      lacinia sem. Nulla facilisi. Nullam sapien nisl,
      hendrerit ut lacinia sit amet, hendrerit non nibh.
      Aenean tempor in lectus aliquam placerat. Donec placerat
      vestibulum ex, sed condimentum sapien placerat vel.
      Nullam at lorem in diam maximus ultrices. Integer
      consequat, nisi vel sodales auctor, nisi felis euismod
      augue, sed semper ante nulla id quam. Suspendisse potenti.
    </p>
  </div>
  <a class='read-more' href='#'>Read more..</a>
</div>
