%footer
  .footer-content
    .footer-menus
      %div
        %h2 Lorem Ipsum
        %ul
          %li
            %a{ href: '#' } Lorem ipsum
          %li
            %a{ href: '#' } sporta urna.
          %li
            %a{ href: '#' } Pellentesque
          %li
            %a{ href: '#' } Aliquam erat
      %div
        %h2 Lorem Ipsum
        %ul
          %li
            %a{ href: '#' } Lorem ipsum
          %li
            %a{ href: '#' } sporta urna.
          %li
            %a{ href: '#' } Pellentesque
          %li
            %a{ href: '#' } Aliquam erat
      %div
        %h2 Lorem Ipsum
        %ul
          %li
            %a{ href: '#' } Lorem ipsum
          %li
            %a{ href: '#' } sporta urna.
          %li
            %a{ href: '#' } Pellentesque
          %li
            %a{ href: '#' } Aliquam erat
      %div
        %h2 Lorem Ipsum
        %ul
          %li
            %a{ href: '#' } Lorem ipsum
          %li
            %a{ href: '#' } sporta urna.
          %li
            %a{ href: '#' } Pellentesque
          %li
            %a{ href: '#' } Aliquam erat
    .author
      created by Murarius
