<footer>
  <div class ='footer-content'>
    <div class='footer-menus'>
      <div>
        <ul>
          <li><a href='#'>Lorem ipsum</a></li>
          <li><a href='#'>sporta urna.</a></li>
          <li><a href='#'>Pellentesque</a></li>
          <li><a href='#'>Aliquam erat</a></li>
        </li>
      </div>
      <div>
        <ul>
          <li><a href='#'>Lorem ipsum</a></li>
          <li><a href='#'>sporta urna.</a></li>
          <li><a href='#'>Pellentesque</a></li>
          <li><a href='#'>Aliquam erat</a></li>
        </li>
      </div>
      <div>
        <ul>
          <li><a href='#'>Lorem ipsum</a></li>
          <li><a href='#'>sporta urna.</a></li>
          <li><a href='#'>Pellentesque</a></li>
          <li><a href='#'>Aliquam erat</a></li>
        </li>
      </div>
      <div>
        <ul>
          <li><a href='#'>Lorem ipsum</a></li>
          <li><a href='#'>sporta urna.</a></li>
          <li><a href='#'>Pellentesque</a></li>
          <li><a href='#'>Aliquam erat</a></li>
        </li>
      </div>
    </div>
    <div class='author'>
      created by Murarius
    </div>
  </div>
</footer>
