%footer
  .footer-content
    .author
      .author-face
        .img
          =image_tag('face.svg')
        .name
          Murarius
        %div{ style: 'clear:both' }
      .author-description
        %p
          Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula.
          Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis
          ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis.
          Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada
          fames ac turpis velit, rhoncus eu, luctus et interdum adipiscing wisi. Aliquam
          erat ac ipsum. Integer
    .stats
      %p
        Number of posts:
        %span 123
      %p
        Number of comments:
        %span 234
    %div{ style: 'clear:both' }
    .created-by
      created by Murarius
