%header
  .header-content
    .logo
      %span.l1 r
      %span.l2 a
      %span.l3 i
      %span.l4 l
      %span.l5 s
      %span.l6 b
      %span.l7 l
      %span.l8 o
      %span.l9 g
      %span.l10 !
      %span.l11 !
      %span.l12 !
.title
  .top-title-border
  .title-content
    %p This is #2 project
    %p On my 10 projects in 10 weeks challenge
    .bottom-title-border
