<header>
  <h1 class='a'>Simple Blog !!! Rails Project</h1>
  <h1 class='b'>Simple Blog !!! Rails Project</h1>
  <h1 class='c'>Simple Blog !!! Rails Project</h1>
  <h1 class='d'>Simple Blog !!! Rails Project</h1>
  <h1 class='e'>Simple Blog !!! Rails Project</h1>
  <nav>
    <div class='nav-content'>
      <a href='#'>Log in</a>
      <a href='#'>Log out</a>
    <div>
  </nav>
</header>
