<header>
  <div class='header-content'>
    <div class='logo'>
      <span class=l1>r</span>
      <span class=l2>a</span>
      <span class=l3>i</span>
      <span class=l4>l</span>
      <span class=l5>s</span>
      <span class=l6>b</span>
      <span class=l7>l</span>
      <span class=l8>o</span>
      <span class=l9>g</span>
      <span class=l10>!</span>
      <span class=l11>!</span>
      <span class=l12>!</span>
    </div>
  </div>
</header>

<div class='title'>
  <div class='top-title-border'></div>
  <div class='title-content'>
    <p>This is #2 project</p>
    <p>On my 10 projects in 10 weeks challenge</p>
  <div class='bottom-title-border'></div>
  </div>
</div>
