<div class='main'>
  <div class='main-content'>
    <div class='yield-placeholder'>
      <div class='flash'>
        <%= render 'layouts/flash' %>
      </div>
      <%= yield %>
    </div>
    <div class='sidebar-placeholder'>
      <%= render 'layouts/sidebar' %>
    </div>
  </div>
  <div class='footer-border' style='clear: both'></div>
</div>
