<div class='sidebar'>
  <ul>
    <li class='year'>2016</li>
      <ul>
        <li class='month'>january</li>
        <li class='month'>february</li>
      </ul>
    <li class='year'>2015</li>
    <li class='year'>2014</li>
    <li class='year'>2013</li>
    <li class='year'>2012</li>
    <li class='year'>2011</li>
  </ul>
</div>
